@font-face {
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    src: url( "font/Gilroy-ExtraBold.ttf");
}
@font-face {
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    src: url( "font/Gilroy-Light.ttf");
}

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;

}
.background-img img{
    margin-top: 45%;
    
}
.signin-btn{
    display: flex;
    justify-content: center;
    align-content:center ;
    gap: 20px;
    margin-top:100px;
}
#sign-in{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size:17px;
    color:#f6f6f6;
    width:98px;
    height:42px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    background-color: #4461F2;
    box-shadow: 3px 2px 4px 0px hsl(230, 100%, 20%);

}
#register{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size:17px;
    color:#4461f2c7;
    text-shadow: blue;
    width:98px;
    height:42px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    background-color: #e8e8e8;
    box-shadow: 3px 2px 4px 0px #4461F2;
}
.title{
    text-align: center;
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    font-weight: 700;
    font-size: 40px;
    padding: 50px 0px 30px 0px;
    text-transform: capitalize;
    
}
.input-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}
input{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    font-weight: 700;
    font-size:15px;
    width:355px;
    height: 77px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: #f0f0f0;
    padding: 20px;

}
#loginbtn{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    font-size: larger;
    border: none;
    width:340px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 3px 2px 4px 0px #4461F2;
    background-color: #4461F2;
    color: white;   
}
h4{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color:rgb(130, 130, 130);

}

.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}
#create-new{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    font-size: medium;
    border: none;
    width:340px;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 3px 2px 4px 0px #29292a;
    background-color:rgb(255, 255, 255) ;
    color: rgb(112, 110, 110); 
    margin-top: 70px;
    
}
.extra{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 60px;
    gap: 5px;
    
    
}
#about{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    border: none;
    font-size: x-small;

}
#help{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    border: none;
    font-size: x-small;    
}
#more{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    border: none;
    font-size: x-small;   
}
#arrow{
    width:40px
}
.joinpage > h1{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    margin-left: 10px;
    
}
.paragraph{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    font-size: x-large;
    padding: 30px;
    font-weight: 500;
}
.getstarted{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    gap: 5px;
}
#started{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    font-size:x-large;
    font-weight:400;
    border: none;
    width:450px;
    padding: 12px;
    border-radius: 50px;
    box-shadow: 3px 2px 4px 0px #29292a;
    background-color:rgba(0, 0, 255, 0.65) ;
    color:white; 
    margin-bottom:100px;
    font-weight: 500;
    

}
.already{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -80px;
    gap: 5px;
}
#already-account{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    font-size:x-large;
    font-weight:400;
    border: none;
    width:450px;
    padding: 12px;
    border-radius: 50px;
    box-shadow: 3px 2px 4px 0px #29292a;
    background-color:white ;
    color:#484848;
    font-weight: 400; 

}

.name{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    padding:10px
}
.registation-names{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
      
}
#first-name{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    font-weight: 700;
    font-size:15px;
    width:170px;
    height: 65px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: #f0f0f0;
    border: 1px solid black;
    padding: 20px;
}
#last-name{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    font-weight: 700;
    font-size:15px;
    width:170px;
    height: 65px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: #f0f0f0;
    border: 1px solid black;
    padding: 20px;
}
#nextbtn{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    font-size: larger;
    border: none;
    width:340px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 3px 2px 4px 0px #4461F2;
    background-color: #4461F2;
    color: white;  
    margin-left: 25px;
    margin-top: 20px;
}
#signup{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; 
    font-size: medium;
    border: none;
    width:340px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 3px 2px 4px 0px #4461F2;
    background-color: #ffffff;
    color: rgb(72, 71, 71);  
    margin-left: 25px;
    margin-top: 20px;
}
#anaccount{
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 500;
    margin-top: 200px;
    font-size: small;
    text-decoration: none;
}
#anaccount1{
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 500;
    margin-top: 250px;
    font-size: small;
    text-decoration: none;

    
    
}
.name1{
    font-family:-apple-system, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    padding:50px;
    margin-top:100px;
    

}
 


